server:
  port: 8000

spring:
  application:
    name: delivery-gateway
  data:
    redis:
      host: localhost
      port: 6379
  cloud:
    gateway:
      routes:
        - id: delivery-service
          uri: http://localhost:8080
          predicates:
            - Path=/delivery/**
          filters:
            - RewritePath=/delivery/(?<segment>.*), /$\{segment}
            - AddRequestHeader=X-Gateway-Source, delivery-gateway

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: gateway, health
  endpoint:
    gateway:
      access: read-only