server:
  port: 8000

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: payment-service-route
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/payments/**

          filters:

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: gateway, health
  endpoint:
    gateway:
      access: read-only