server:
  port: 8000

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: payment-service-route
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/payments/**

          filters:
            - name: VerificationGatewayFilterFactory 
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
